#ChatContain{
    background-color: white;
    height: 344px;
    overflow: hidden;
}

#ChatLog{
    background-color: white;
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    height: 96%;
    overflow-y: auto;
}

#ChatLog .bot_res{
    display: inline-block;
    background-color: #3E4042;
    color: #E4E6EB;
    border-radius: 5px;
    max-width: 70%;
    padding: 8px;
    margin: 5px 0;
    word-wrap: break-word;
    text-align: left;
}

#ChatLog .user_res{
    display: inline-block;
    background-color: #0084FF;
    color: #E4E6EB;
    border-radius: 5px;
    max-width: 70%;
    padding: 8px;
    margin: 5px 0;
    word-wrap: break-word;
    text-align: left;
}

#ChatFoot{
    display: inline-block;
    width: 100%;
    background-color: #F0F0F0;
    height: 45px;
}

#ChatFoot #send{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    border-radius: 50%;
    text-align: left;
    margin-top: 3px;
    margin-left: 5px;
    outline: none;
    float: left;
    background-image: url("../Bot/img/send.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.hver .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    word-wrap: break-word;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 1%;
    margin-left: -60px;
}

.hver .tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    word-wrap: break-word;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 82%;
    margin-left: -60px;
}

.hver .tooltiptext4 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    word-wrap: break-word;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 82%;
    margin-left: -60px;
}

.hver:hover .tooltiptext2{
    visibility: visible;
}

.hver:hover .tooltiptext3{
    visibility: visible;
}

.hver:hover .tooltiptext4{
    visibility: visible;
}

#ChatFoot #report{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-top: 3px;
    margin-right: 5px;
    outline: none;
    float: right;
    background-image: url("../Bot/img/report.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#ChatFoot #text-to-speech{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-top: 3px;
    margin-right: 5px;
    outline: none;
    float: right;
}

#ChatFoot #text-to-speech #texttospeech{
    padding-top: 5px;
}

#ChatFoot #user_input{
    border-radius: 20px;
    height: 30px;
    outline: 0;
    width: 185px;
    margin: 4px 5px 5px 5px;
}

#reportH{
    width: 500px;
    height: 20px;
    color: #0084FF;
    border-bottom: 1px solid #3E4042;
}

#reportB{
    width: 500px;
    height: 150px;
}

.rpbtn{
    margin-right: 10px;
}

#LogoButton{
    position: fixed; 
    display:block; 
    margin: 0 0 0 1px; 
    right: 0.5%;
    bottom: 1%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    outline: none;
    background-image: url("../Bot/img/bot.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#LogoButton .tooltipbot {
    visibility: visible;
    width: 200px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: 7px 7px;
    word-wrap: break-word;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: -200%;
    margin-left: -60px;
    text-align: left;
}

#LogoButton .tooltipbot:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid black;
    left: 190px;
    top: 46px;
}

#txtArea{
    resize: none;
    overflow-y: scroll;
    height: 100px;
}

#Bot{
    visibility: hidden;
    position: fixed; 
    display:block; 
    width: 340px; 
    height: 445px; 
    margin: 0 0 0 1px; 
    right: 0.5%;
    bottom: 1%;
    background-color: white;
}

#Bot #ChatHead{
    display: inline-block;
    background-color: #1A9FDB;
    width: 100%;
    height: 12%;
    border-bottom: 1px solid black;
}

#Bot #ChatHead #BotLogo{
    width: 15%;
    height: 100%;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    border-radius: 50%;
}

#Bot #ChatHead #CloseChat{
    float:right;
    margin-top: 2px;
    margin-right: 1px;
    background: none;
    border: none;
    outline-style: none;
}

#Bot #ChatBody{
    bottom: 0%;
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 86%;
}